.photo-grid {
  padding: 92px 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 0;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    padding: 64px 0;
  }
}
