.header__lang-link {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link:nth-of-type(1) {
  margin-right: 18px;
}

@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
