.intro__list {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
}

@media (max-width: 767px) {
  .intro__list {
    font-size: 12px;
    line-height: 18px;
  }
}
