.footer__link {
  margin-right: 18px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
    flex-direction: column;
    justify-content: unset;
    font-size: 24px;
    line-height: 1;
  }

  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}
