.footer__link {
  margin-right: 18px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer__link {
    margin-right: 0;
    flex-direction: column;
    justify-content: unset;
    font-size: 24px;
    line-height: 1;
    max-width: fit-content;
  }
}
