.lead__subtitle {
  margin: 32px 0 64px 0;
  max-height: 72px;
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .lead__subtitle {
    margin: 16px 0 40px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}

