.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  width: 100%;
  aspect-ratio: 1/0.625;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-decoration: none;
  position: relative;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: calc(100% + 48px*2);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: calc(100% + 24px*2);
  }
}

@media (max-width: 767px) {
  .cover {
    width: calc(100% + 16px*2);
  }
}
