.place {
  padding-bottom: 80px;
  box-sizing: border-box;
  display: grid;
  max-width:984px;
  grid-template-columns: 47.3% 1fr;
  grid-template-rows: auto;
  gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image paragraphs";
}

.place:last-of-type {
  padding-bottom: 92px;
}

@media (max-width: 1279px) {
  .place {
    width: 100%;
    gap: 48px 32px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place {
    padding-bottom: 73px;
    column-gap: 28px;
  }

  .place:last-of-type {
    padding-bottom: 90px;
  }
}

@media (max-width: 767px) {
  .place {
    padding-bottom: 50px;
    grid-template-columns: 1fr;
    gap: 32px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraphs";
  }

  .place:last-of-type {
    padding-bottom: 66px;
  }
}
